server:
  port: 8080
spring:
  application:
    name: expense_tracker
  datasource:
    url: jdbc:postgresql://localhost:5432/expense_trackerDB
    username: postgres
    password: 123456
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true
    open-in-view: false
  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: self

jwt:
  base64-secret: ${JWT_BASE64_SECRET}
  expiration: 2592000 # 30 ngay = 30 * 24 * 60 * 60
